body {
    margin: 0cm;
    }
    .cover { 
    height: 400px;
    background-image:url(https://www.shutterstock.com/shutterstock/videos/1084915816/thumb/3.jpg?ip=x480);
    color:white;
background-size:cover ;
background-position: 80% 30%;
background-color:rgba (0,0,0,0.5);
background-blend-mode: darken;
    }

   
    .cover-small{ 
        height:200px;
        background-blend-mode:normal ;
     
    }

    .card { 
border: 0 !important;
box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);

    }


.card-title{
min-height:3rem;
}

.card-text{ 
    min-height:10rem;
}

.rojo{
    background-color: red;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px !important;
    background-color: white;
}